header {
    margin: 0 auto;
    padding: 50px;
    background-color: #003459;
    width: 100% 100%;
    border-radius: 15px;

}

.carousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 100%;
    height: 100%;
    position: relative;

}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.slide.active {
    opacity: 1;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

nav {
    margin: 0 auto;
    height: 50px;
    max-width: 700px;
    margin-top: 10px;
    background-color: #0d1b2a;
    position: sticky;
    top: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 0 10px;
    color: #1e90ff;
}

.moi {
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
}

.moi h1 {
    color: white;
}

.moi p {
    color: white;
}

section {
    background: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 1000px;
}

#propos {
    background-color: #e3f2ff;
}

h2 {
    color: #1e90ff;
    margin-bottom: 15px;
}

p {
    color: #1B1B1B;
}

ul {
    list-style: none;
    background-color: #e3f2ff;
    border-radius: 10px;
}

li {
    color: black;
}

.pro {
    background-color: #e3f2ff;
    padding: 15px;
    border-radius: 8px;
    flex: 1 1 200px;
}

#reseaux a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 0 10px;
    color: #1e90ff;
}

#reseaux {
    background-color: #e3f2ff;
}



footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
    margin-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}

footer p {
    color: white;
}

body {
    background-color: white;
    margin: 0;
}